<li class="catalogue-item">
  <a href="{{ page.url | prepend: site.baseurl }}">
    <div>
      {% if page.portfolio == true %}
      <img src="{{ page.main-img }}" class="project-img" />
      {% endif %} {% if page.draft == true %}
      <span class="catalogue-tag"> Coming Soon </span>
      {% endif %}
      <div class="catalogue-info">
        <h1 class="catalogue-title transition">{{ page.title }}</h1>
        <p class="catalogue-introduce">{{ page.introduce }}</p>
        <p class="catalogue-date">{{ page.date }}</p>
      </div>
    </div>
    {% if page.blog == true %}
    <div class="catalogue-img-container">
      <img class="catalogue-img" src="{{ page.intro-img }}" />
    </div>
    {% endif %}
  </a>
</li>
