<li class="project-item">
  <div>
    {% if page.portfolio == true %}
    <img src="{{ page.main-img }}" class="project-img" />
    {% endif %} {% if page.draft == true %}
    <span class="project-tag"> Coming Soon </span>
    {% endif %}
    <p class="project-platform">{{ page.type }}</p>
    <div class="project-info transition">
      <h1 class="project-title">{{ page.title }}</h1>
      <p class="project-sub">{{ page.subtitle }}</p>
      <p class="project-date">{{ page.date }}</p>
      <p class="project-body">
        {{ page.content | truncatewords: 24 | strip_html }}
      </p>

      {% if page.experiences %}
      <ul class="project-experiences">
        {% for experience in page.experiences %}
        <li class="experience">{{ experience }}</li>
        {% endfor %}
      </ul>

      {% endif %} {% if page.major-skills or page.minor-skills %}
      <ul class="project-skills">
        {% if page.major-skills %} {% for skill in page.major-skills %}
        <li class="major-skill">{{ skill }}</li>
        {% endfor %} {% endif %} {% if page.minor-skills %} {% for skill in
        page.minor-skills %}
        <li class="minor-skill">{{ skill }}</li>
        {% endfor %} {% endif %}
      </ul>
      {% endif %}
    </div>
  </div>
</li>
